body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: bisque;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.input-container {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select, button {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

.result-container {
    text-align: center;
}
.image-container {
    text-align: center;
}

img {
   width: 600px;
   height: 400px;
}